<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Carrito</title>
</head>

<body>
    <nav class="NavBar">
        <div class="logoContainer"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWBuB632p-BzikvlVaPUTEubUuieUuoFM2TQ&s"
                alt="Logo" class="logo"></div>
        <div class="busqueda">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="/frontend/views/prodcutos.html">Productos</a></li>
            </ul>
        </div>
        <div class="informacion">
            <ul>
                <li><a href="#" class="user"><i class="fa-regular fa-user"></i></a></li>
            </ul>
        </div>
    </nav>
    <div class="container1">
        <h1>titulo</h1>
        <a href="/frontend/views/prodcutos.html">Devolverse</a>
    </div>
    <div class="container2">
        <div class="productos">
            <div class="productos_1">
                <div class="imagenProducto"><img src="#" alt="producto">
                </div>
                <h2>titulo producto</h2>
                <p>descripcion</p>
            </div>
            <div class="productos_2">
                <div class="imagenProducto"><img src="#" alt="producto">
                </div>
                <h2>titulo producto</h2>
                <p>descripcion</p>
            </div>
        </div>
        <div class="total">
            <div class="DescripcionTotalProducto">
                <h2>Suma total</h2>
                <p>subtotal</p>
                <p>$</p>
                <p>estimado</p>
                <p>$</p>
            </div>
            <div class="totalProducto">
                <h2>Total</h2>
                <p>$</p>
                <button>comprar</button>
                <p>Descripcion</p>
            </div>
        </div>
    </div>
</body>

</html>