<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poli-Tiendaaaa</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <nav class="NavBar">
        <div class="logoContainer"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWBuB632p-BzikvlVaPUTEubUuieUuoFM2TQ&s"
                alt="Logo" class="logo"></div>
        <div class="busqueda">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="/frontend/views/prodcutos.html">Productos</a></li>
            </ul>
        </div>
        <div class="informacion">
            <ul>
                <li><a href="#" class="user"><i class="fa-regular fa-user"></i></a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="Tarjetaproducto">
            <div class="ContainerImage"><img src="https://i.blogs.es/2a0305/original/375_375.jpeg" alt="producto1"
                    class="imagenProducto"></div>
            <div class="descripcionProdcuto">
                <p>Descripcion generica</p>
                <p>precio: </p>
                <a href="/frontend/views/DetallePedido.html" class="boton">
                    boton
                </a>
            </div>
        </div>
        <div class="Tarjetaproducto">
            <div class="ContainerImage"><img src="https://i.blogs.es/2a0305/original/375_375.jpeg" alt="producto2"
                    class="imagenProducto"></div>
            <div class="descripcionProdcuto">
                <p>Descripcion generica</p>
                <p>precio: </p>
                <a href="/frontend/views/DetallePedido.html" class="boton">
                    boton
                </a>
            </div>
        </div>
        <div class="Tarjetaproducto">
            <div class="ContainerImage"><img src="https://i.blogs.es/2a0305/original/375_375.jpeg" alt="Producto3"
                    class="imagenProducto"></div>
            <div class="descripcionProdcuto">
                <p>Descripcion generica</p>
                <p>precio: </p>
                <a href="/frontend/views/DetallePedido.html" class="boton">
                    boton
                </a>
            </div>
        </div>
        <div class="Tarjetaproducto">
            <div class="ContainerImage"><img src="https://i.blogs.es/2a0305/original/375_375.jpeg" alt="Producto4"
                    class="imagenProducto"></div>
            <div class="descripcionProdcuto">
                <p>Descripcion generica</p>
                <p>precio: </p>
                <a href="/frontend/views/DetallePedido.html" class="boton">
                    boton
                </a>
            </div>
        </div>
        <div class="Tarjetaproducto">
            <div class="ContainerImage"><img src="https://i.blogs.es/2a0305/original/375_375.jpeg" alt="producto5"
                    class="imagenProducto"></div>
            <div class="descripcionProdcuto">
                <p>Descripcion generica</p>
                <p>precio: </p>
                <a href="/frontend/views/DetallePedido.html" class="boton">
                    boton
                </a>
            </div>
        </div>
        <div class="Tarjetaproducto">
            <div class="ContainerImage"><img src="https://i.blogs.es/2a0305/original/375_375.jpeg" alt="producto6"
                    class="imagenProducto"></div>
            <div class="descripcionProdcuto">
                <p>Descripcion generica</p>
                <p>precio: </p>
                <a href="/frontend/views/DetallePedido.html" class="boton">
                    boton
                </a>
            </div>
        </div>
        <div class="botonCarrito">
            <a href="#openModal" class="carrito"><i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
    </div>
    <div id="openModal" class="modalDialog">
        <div class="modalContent">
            <a href="#close" title="Close" class="close">X</a>
            <h2>Carrito de compras</h2>
            <p>Aquí puedes ver los productos que has agregado al carrito.</p>
            <div class="productos_1">
                <div class="imagenProducto"><img src="#" alt="producto">
                </div>
                <h2>titulo producto</h2>
                <p>descripcion</p>
            </div>
            <div class="productos_1">
                <div class="imagenProducto"><img src="#" alt="producto">
                </div>
                <h2>titulo producto</h2>
                <p>descripcion</p>
            </div>
            <div class="productos_1">
                <div class="imagenProducto"><img src="#" alt="producto">
                </div>
                <h2>titulo producto</h2>
                <p>descripcion</p>
            </div>
        </div>
    </div>
</body>

</html>